<form>
  <mat-form-field>
    <input matInput placeholder="State" aria-label="State" [matAutocomplete]="auto" [formControl]="form">
    <mat-autocomplete #auto="matAutocomplete">

      <mat-option *ngFor="let state of filtered | async" [value]="state.Title">
        <div *ngIf="state.Title">
          <img style="vertical-align:middle;" aria-hidden src="{{state.Poster}}" height="25"/>
          <span>{{ state.Title }}</span>
        </div>

      </mat-option>
    </mat-autocomplete>
  </mat-form-field>
  <mat-form-field>
    <mat-select [(value)]="type">
      <mat-option>всеравно</mat-option>
      <mat-option value="movie">полнометражный</mat-option>
      <mat-option value="series">сериалы</mat-option>
      <mat-option value="episode">серия</mat-option>
    </mat-select>
  </mat-form-field>
  <mat-form-field>
    <input matInput placeholder="Год" [formControl]="yearFormControl"
           [errorStateMatcher]="matcher" [(value)]="y">
    <mat-hint>год c 1920 по {{yearCurrent}}</mat-hint>
    <mat-error *ngIf="yearFormControl.hasError('min')">
      начинается с 1920
    </mat-error>
    <mat-error *ngIf="yearFormControl.hasError('max')">
      кончается {{yearCurrent}}
    </mat-error>

  </mat-form-field>
  <div [ngSwitch]="status">
    <div *ngSwitchCase="'success'" style="background-color: green">
      {{success |json}}
    </div>
    <div *ngSwitchCase="'error'" style="background-color: red">
      {{error}}
    </div>
  </div>

</form>
